<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    {% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
        {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}
{% block analytics %}
{% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock analytics %}
</body>
</html>
